/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */


@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* color scheme */
  --color-bus-blue-50: #ecffff;
  --color-bus-blue-100: #d0fdfd;
  --color-bus-blue-200: #a6f7fb;
  --color-bus-blue-300: #69f0f7;
  --color-bus-blue-400: #25ddeb;
  --color-bus-blue-500: #08b4c4;
  --color-bus-blue-600: #0a9ab0;
  --color-bus-blue-700: #107b8e;
  --color-bus-blue-800: #166374;
  --color-bus-blue-900: #175362;
  --color-bus-blue-950: #093743;
  --color-mrt-red-50: #fef2f2;
  --color-mrt-red-100: #fde3e3;
  --color-mrt-red-200: #fdcbcb;
  --color-mrt-red-300: #faa7a7;
  --color-mrt-red-400: #f47575;
  --color-mrt-red-500: #ea4444;
  --color-mrt-red-600: #d72b2b;
  --color-mrt-red-700: #b52020;
  --color-mrt-red-800: #961e1e;
  --color-mrt-red-900: #7c2020;
  --color-mrt-red-950: #430c0c;
  --color-walk-orange-50: #fff9ed;
  --color-walk-orange-100: #fff3d5;
  --color-walk-orange-200: #fee3aa;
  --color-walk-orange-300: #fecd73;
  --color-walk-orange-400: #fcad3b;
  --color-walk-orange-500: #fa8e0b;
  --color-walk-orange-600: #eb770b;
  --color-walk-orange-700: #c35a0b;
  --color-walk-orange-800: #9b4711;
  --color-walk-orange-900: #7d3c11;
  --color-walk-orange-950: #431c07;
  --color-track-gray-50: #f4f7f7;
  --color-track-gray-100: #e3e8ea;
  --color-track-gray-200: #cad3d7;
  --color-track-gray-300: #a6b5ba;
  --color-track-gray-400: #7a8e96;
  --color-track-gray-500: #5f727b;
  --color-track-gray-600: #516069;
  --color-track-gray-700: #465158;
  --color-track-gray-800: #3e474c;
  --color-track-gray-900: #373d42;
  --color-track-gray-950: #24292d;
  --color-white: #ffffff;

  --accent: var(--color-bus-blue-600);
  --accent-dark: var(--color-bus-blue-700);
}
body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--color-track-gray-50);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--color-track-gray-900);
  font-size: 20px;
  line-height: 1.5;
}
main {
  width: 720px;
  max-width: 100%;
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--color-track-gray-900);
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 1.5em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: var(--color-track-gray-200);
  font-family: monospace;
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid var(--color-track-gray-300);
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
