.pageWrapper {
    position: relative;
}

.pageWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    
    background: url('/contour.svg') no-repeat center;
    background-size: cover;

    /* crop so it fades on bottom right */
    
  mask-image: radial-gradient(
    circle at top left,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  /* mask-size: 200% 200%;
  mask-position: -100% -100%; */
}

.textContainer {

  width: 720px;
  max-width: 100%;
  margin: auto;
  padding: 2rem 1rem;
}
  h1 {
    font-size: 1rem;
    color: var(--color-track-gray-400);
    text-transform: uppercase;
    margin: 2rem 0 0rem;
    letter-spacing: 0.05em;
    font-weight: 600;
  }

  .tagline {
    font-size: 5rem;
    font-weight: 600;
    line-height: 0.9;
    letter-spacing: -0.02em;
    margin: 1rem 0 1rem;
    color: var(--color-track-gray-900);
  }

  .description {
    font-size: 1.5rem;
    color: var(--color-track-gray-700);
    width: 70vw;
    min-width: 300px;
    margin-bottom: 1rem;
  }

  .cta {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
    background: var(--color-bus-blue-600);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing:0.05em;
    text-decoration: none;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
  }

  .cta:hover {
    background: var(--color-bus-blue-700);
    color: var(--color-bus-blue-100);
  }

  .gradient {
    background: linear-gradient(
      90deg,
      var(--color-bus-blue-600),
      var(--color-mrt-red-600),
      var(--color-walk-orange-600),
      var(--color-bus-blue-600)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* animation so the gradient slowly moves  */
    background-size: 200% 200%;
    animation: gradient-move 7s linear infinite;
  }

  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }

  .carouselWrapper {
        display: flex;
        justify-content: end;
    --carousel-width: 100vw;
    max-width: 100%;
    overflow: hidden;
  }

  .carousel {
    flex-shrink: 0;
    aspect-ratio: 4/3;
    /* load background image from /caplet.svg */
    background: url('/caplet.svg') no-repeat center;
    background-size: cover;
    width: var(--carousel-width);

    /* mask with caplet */
    -webkit-mask-image: url('/caplet.svg');
    -webkit-mask-size: cover;
    mask-image: url('/caplet.svg');
    mask-size: cover;
    position: relative;
    overflow: hidden;

    transform: translateX(10vw);
    margin-top: 2rem;
  }

  .carouselImageWrapper {
    aspect-ratio: 4/3;
    position: absolute;
    width: var(--carousel-width);
    /* background: #ff000022; */
    overflow: hidden;
  }

  .carouselImage {
    width: var(--carousel-width);
    object-fit: cover;
  }


  @media (min-width: 640px) {
    .carousel {
      --carousel-width: 90vw;
      transform: translateX(0);
      margin: 0;

    -webkit-mask-image: url('/caplet-crop.svg');
    mask-image: url('/caplet-crop.svg');
    }
    
  }
  @media (min-width: 768px) {
    .carousel {
      --carousel-width: 70vw;
    }
    
  }
  @media (min-width: 1280px) {
    .carousel {
      --carousel-width: 60vw;
      transform: translateX(0);
      margin: 0;

    -webkit-mask-image: url('/caplet.svg');
    mask-image: url('/caplet.svg');
    }
    
    .pageWrapper {
        display: flex;
        flex-direction:row-reverse;
        justify-content: center;;
        padding: 5rem 5rem;
        align-items: center;
        gap: 3rem;
    }

    .textContainer {
        max-width: calc(40vw - 10rem - 5rem);
        margin: 0;
    }

    .description {
        width: 100%;
        max-width: 360px;
    }
  }
  @media (min-width: 1536px) {
    .carousel {
      --carousel-width: 900px;
      transform: translateX(0);
      margin: 0;
    }
    
    .pageWrapper {
        display: flex;
        flex-direction:row-reverse;
        padding: 5rem 5rem;
    }

    .textContainer {
        max-width: calc(40vw - 10rem - 2rem);
    }

    .description {
        width: 100%;
        max-width: 360px;
    }
  }