---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} NUS Bus, MRT & Walk Club. All rights reserved.
  <div class="social-links">
    <a href="https://t.me/nusbusmrtwalk" target="_blank">
      <span class="sr-only"> Join the Telegram Channel </span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-telegram"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path></svg
      >
    </a>
    <a href="https://instagram.com/nusbusmrtwalk" target="_blank">
      <span class="sr-only">Go to Instagram page </span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4l0 -8"
        ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
          d="M16.5 7.5v.01"></path></svg
      >
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
