---
import type { CollectionEntry } from "astro:content";
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <!-- <h2> -->
    <a class="logo" href="/">
      <img src="/logo-short.svg" alt={`${SITE_TITLE} Logo`} />
    </a>
    <!-- </h2> -->
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/events">Events</HeaderLink>
    </div>
    <div class="social-links">
      <a href="https://t.me/nusbusmrtwalk" target="_blank">
        <span class="sr-only"> Join the Telegram Channel </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-telegram"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path></svg
        >
      </a>
      <a href="https://instagram.com/nusbusmrtwalk" target="_blank">
        <span class="sr-only">Go to Instagram page </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4l0 -8"
          ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
            d="M16.5 7.5v.01"></path></svg
        >
      </a>
    </div>
  </nav>
</header>
<style>
  nav > .logo {
    padding: 0;
    margin: 0;
    border: 0;
    display: grid;
    place-items: center;
  }
  .logo img {
    height: 60px;
    width: 84px;
    object-fit: cover;
  }
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 720px;
    margin: auto;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  nav a:nth-child(2).active {
    border-bottom-color: var(--color-mrt-red-600);
  }
  nav a:nth-child(3).active {
    text-decoration: none;
    border-bottom-color: var(--color-walk-orange-600);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
